.container {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: auto;
    padding: auto;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loginContainer {
    padding-top: 200px;
}

