.container {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: auto;
    padding: auto;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginContainer {
    padding-top: 200px;
}

#dmContainer {
    background-color: '#283240';
}

.smallerForm {
    align-items: center;
}

a {
    color: #E6E9E3;
    text-decoration: none;
}

a:visited {
    color: #E6E9E3;
    text-decoration: none;
}

.input {
    border-radius: 15px;
}
